.python-27-clock {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: darkgreen;
    background-color: lightyellow;
}

.center-text {
    text-align: center;
}

.center {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.guido-button {
    border: 1px;
    background-color: black;
    color: red;
    border-radius: 5px;
}

.guido-button-block, .guido-button-block > button {
    font-size: 8px;
}